:root{
    --lightblue: #A3DEF7;
}

.bg-lightblue{
    background-color: var(--lightblue);
}

body{
   font-family: 'Montserrat', sans-serif;
   color: #F47775;
}

h1{
    font-weight: 600;
}

#weatherImg{
    width: 50px;
}

.far{
    font-size: 4rem;
}