:root{
    --lightblue: #A3DEF7;
    --darkblue: #164A68;
}

.bg-lightblue{
    background-color: var(--lightblue);
}

body{
   font-family: 'Montserrat', sans-serif;
   color: var(--darkblue);
}

.main{
    width: 80%;
    max-width: 30rem;
}

h1{
    font-weight: 600;
}

#weatherImg{
    width: 50px;
}

.far{
    font-size: 4rem;
    color: var(--darkblue);
}

#symbol{
    height: 4rem;
    color: var(--darkblue);
}

.tableCustom td, th{
    vertical-align: middle;
    border-top: none;
    border-bottom: 0.05rem dashed var(--darkblue);
    padding-top: 0rem;
    padding-bottom: 0rem;
}